/*imports*/
/* line 1, ../sass/_grid.scss */
.row { float: left; clear: both; width: 100%; }

/* line 22, ../sass/_grid.scss */
.container .columns.one, .container .columns.two, .container .columns.three, .container .columns.four, .container .columns.five, .container .columns.six, .container .columns.seven, .container .columns.eight, .container .columns.nine, .container .columns.ten, .container .columns.eleven, .container .columns.twelve, .container .columns.thirteen, .container .columns.fourteen, .container .columns.fifteen, .container .columns.sixteen { width: 100%; }

/* line 24, ../sass/_grid.scss */
.container { width: 100%; }

/* line 28, ../sass/_grid.scss */
.container .columns { float: left; padding-right: 1em; padding-left: 1em; }

/* line 36, ../sass/_grid.scss */
.clearfix:after, .container:after { content: ''; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

/* line 47, ../sass/_grid.scss */
.clearfix, .container { zoom: 1; }

@media only screen and (min-width: 450px) { /* line 53, ../sass/_grid.scss */
  body { font-size: 1em; line-height: 1.5em; }
  /* line 58, ../sass/_grid.scss */
  .container .columns.one { width: 6.25%; }
  /* line 59, ../sass/_grid.scss */
  .container .columns.two { width: 12.5%; }
  /* line 60, ../sass/_grid.scss */
  .container .columns.three { width: 18.75%; }
  /* line 61, ../sass/_grid.scss */
  .container .columns.four { width: 25%; }
  /* line 62, ../sass/_grid.scss */
  .container .columns.five { width: 31.25%; }
  /* line 63, ../sass/_grid.scss */
  .container .columns.six { width: 37.5%; }
  /* line 64, ../sass/_grid.scss */
  .container .columns.seven { width: 43.75%; }
  /* line 65, ../sass/_grid.scss */
  .container .columns.eight { width: 50%; }
  /* line 66, ../sass/_grid.scss */
  .container .columns.nine { width: 56.25%; }
  /* line 67, ../sass/_grid.scss */
  .container .columns.ten { width: 62.5%; }
  /* line 68, ../sass/_grid.scss */
  .container .columns.eleven { width: 68.75%; }
  /* line 69, ../sass/_grid.scss */
  .container .columns.twelve { width: 75%; }
  /* line 70, ../sass/_grid.scss */
  .container .columns.thirteen { width: 81.25%; }
  /* line 71, ../sass/_grid.scss */
  .container .columns.fourteen { width: 87.50%; }
  /* line 72, ../sass/_grid.scss */
  .container .columns.fifteen { width: 93.75%; }
  /* line 73, ../sass/_grid.scss */
  .container .columns.sixteen { width: 100%; }
  /* line 75, ../sass/_grid.scss */
  .container { width: 90%; margin: 0 auto; } }
/* line 81, ../sass/_grid.scss */
.lt-ie9 .container { max-width: 600px; }

@-ms-viewport { width: device-width; }

/* line 8, ../sass/style.scss */
* { /*adds elements of padding and space inside.*/ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

/* line 19, ../sass/style.scss */
html { font: 12/1.5em Helvetica, Arial, sans-serif; min-height: 100%; position: relative; padding-bottom: 20em; }

/* line 26, ../sass/style.scss */
body { font-size: 0.875em; line-height: 1.5em; color: #313131; }

/* line 32, ../sass/style.scss */
img { max-width: 100%; height: auto; }

/*typo*/
/* line 38, ../sass/style.scss */
h3 { color: #cc6741; }

/*logo*/
/* line 43, ../sass/style.scss */
h1.logo a { width: 200px; height: 71px; display: block; background: url("../images/tea-logo.png") no-repeat 0 0; margin: 0 auto; border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* footer */
/* line 59, ../sass/style.scss */
footer { text-align: center; padding: 2em 0 0 0; font-family: georgia, serif; }

/* header */
/* line 66, ../sass/style.scss */
header.row { padding: 3em 0; }

/*band styles*/
/* line 71, ../sass/style.scss */
.band { padding: 2em 0; }

/*navigation*/
/* line 77, ../sass/style.scss */
a.nav-link { position: absolute; top: 0; right: 1em; background: #cc6741; text-decoration: none; color: white; padding: .5em; font-weight: bold; border-radius: 0 0 .2em .2em; }

/* line 90, ../sass/style.scss */
nav[role="primary"] ul { list-style: none; position: absolute; bottom: 0; left: 0; width: 100%; }

/* line 98, ../sass/style.scss */
nav[role="primary"] ul a { text-decoration: none; font-weight: bold; background: #444; display: block; padding: .75em; border-bottom: 1px solid #999; color: #f7f7f7; }

/* line 109, ../sass/style.scss */
nav[role="primary"] ul li a:hover { background: #cc6741; }

/* line 114, ../sass/style.scss */
nav[role="primary"] ul li:last-child a { border: none; }

/*page specific style*/
/* line 119, ../sass/style.scss */
.featured-section { padding: 2em 0 0; }

/* line 122, ../sass/style.scss */
.featured-section .four { margin: 1em 0; }

/* line 126, ../sass/style.scss */
.learn-more { background: #3b3b3b; text-align: center; }

/* line 131, ../sass/style.scss */
.learn-more h2 { color: #f9f9f9; line-height: 2em; }

/* line 136, ../sass/style.scss */
.button { padding: 0 .75em; background: #cc6741; color: white; text-decoration: none; border-radius: .1em; font-weight: bold; display: inline-block; }

/* line 146, ../sass/style.scss */
.button:hover { background: #da6133; }

/* line 152, ../sass/style.scss */
.learn-more h2 { color: #f9f9f9; line-height: 2em; }

/* line 157, ../sass/style.scss */
.banner h2 { color: #cc6741; font-size: 3.2em; line-height: 1em; letter-spacing: -.05em; text-align: center; font-family: georgia, serif; }

/* line 166, ../sass/style.scss */
.learn-more { background: #3b3b3b; text-align: center; }

/*media queries*/
@media only screen and (min-width: 450px) { /* line 174, ../sass/style.scss */
  h1.logo { float: left; margin: 0 1em 0 0; }
  /* line 179, ../sass/style.scss */
  .band.banner { padding: 10%; background: url("../images/photodune-tea-bag.jpg") no-repeat center center; background-size: cover; }
  /* line 185, ../sass/style.scss */
  .banner h2 { color: white; font-size: 5em; text-align: left; }
  /*page specific style*/
  /* line 192, ../sass/style.scss */
  .container .featured-section .four { width: 50%; }
  /* line 196, ../sass/style.scss */
  .container .featured-section .four:nth-child(3) { clear: both; }
  /*navigation*/
  /* line 201, ../sass/style.scss */
  a.nav-link { display: none; }
  /* line 205, ../sass/style.scss */
  nav[role="primary"] ul { position: relative; }
  /* line 209, ../sass/style.scss */
  nav[role="primary"] ul li { position: relative; margin: 1.8em 0 0 0; }
  /* line 214, ../sass/style.scss */
  nav[role="primary"] ul li a { float: left; background: none; color: #333; border: none; border-radius: 0.2em; }
  /* line 222, ../sass/style.scss */
  nav[role="primary"] ul li a:hover { background: #3b3b3b; color: #f7f7f7; } }
@media only screen and (min-width: 900px) { /*page specific style*/
  /* line 230, ../sass/style.scss */
  .container .featured-section .four { width: 25%; }
  /* line 234, ../sass/style.scss */
  .container .featured-section .four:nth-child(3) { clear: none; }
  /*page specific style*/
  /* line 239, ../sass/style.scss */
  .featured-section .four { margin: 2em 0; } }
